// @import "./reset.css";
// @import "./variables.scss";

body {
  background-color: hsl(180, 2%, 17%);
}

.page {
  background-color: $background-secondary;
  height: 100vh;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1001;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button {
  color: $color-primary;
  font-family: $font-base;
  letter-spacing: 0.5px;
  margin: 0;
}

