body {
  background-color: hsl(180, 2%, 17%);
  color: $color-primary;
  font-family: $font-base;
  letter-spacing: 0.5px;
  margin: 0;
}

.page {
  background-color: $background-secondary;
  min-height: 100vh;
  padding: 16px;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1001;
}