body {
  background-color: hsl(180, 2%, 17%);
  color: $color-primary;
  font-family: $font-base;
  letter-spacing: 0.5px;
  margin: 0;
}

.page {
  background-color: $background-secondary;
  min-height: 100vh;
  padding: 16px;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1001;
}

@media (min-width: 1024px) {
  .page {
    max-height: 100vh;
    max-width: 400px;
    overflow-y: auto;

    // Firefox scrollbar
    scrollbar-color: $color-secondary transparent;
    scrollbar-width: thin;

    // Other browsers scrollbar
    &::-webkit-scrollbar {
      width: 12px;
    }
    
    &::-webkit-scrollbar-track {
      border: solid 3px transparent;
      box-shadow: inset 0 0 10px 10px $background-secondary;
    }
    
    &::-webkit-scrollbar-thumb {
      border: solid 3px transparent;
      border-radius: 8px;
      box-shadow: inset 0 0 10px 10px $color-secondary;
    }
  }
}

// Override leaflet default style
.leaflet-control-container {
  display: none;
}