// Generate margin and padding utlilities

$sizes: 0, 4, 8, 12, 16, 24, 32, 48;
$directions: (
  "t": "top",
  "r": "right",
  "b": "bottom",
  "l": "left"
);

@each $letter, $name in $directions {
  @each $size in $sizes {
    .m#{$letter}#{$size} {
      margin-#{$name}: #{$size}px;
    }

    .p#{$letter}#{$size} {
      padding-#{$name}: #{$size}px;
    }
  }
}

@each $size in $sizes {
  .m#{$size} {
    margin: #{$size};
  }

  .p#{$size} {
    padding: #{$size}px;
  }
}


.w100 {
  width: 100%;
}