* {
    box-sizing: border-box;

    &:focus {
        outline: none;
        // border: 2px solid $color-primary;
    }
}

body {
    background-color: hsl(0, 0%, 20%);
    font-size: 13px;
    margin: 0;
}