// Fonts
$font-base: "Poppins", sans-serif;

// Global colors
$color-primary: hsl(0, 0%, 93%);
$color-secondary: hsl(228, 15%, 50%);

$background-primary: hsl(231, 78%, 2%);
$background-secondary: hsl(220, 4%, 14%);

// Element colors
$background-active: hsla(0, 100%, 100%, 0.1);

$background-input: hsla(0, 100%, 100%, 0.125);
$background-input-active: hsla(0, 100%, 100%, 0.125);

$background-button: $color-secondary;
$background-button-active: hsl(229, 22%, 60%);

// Element effects
$shadow-primary: 0 0 10px hsla(0, 0%, 0%, 0.25);
$shadow-active: 0 0 10px hsla(0, 100%, 100%, 0.125);